// {{ ansible_managed }}

zone "okd.home.mawson.tech" {
    type secondary;
    file "db.okd.home.mawson.tech";
    primaries { 10.10.56.2; };
};

zone "56.10.10.in-addr.arpa" {
    type secondary;
    file "db.56.10.10.in-addr.arpa";
    primaries { 10.10.56.2; };
};
