// {{ ansible_managed }}

zone "okd.home.mawson.tech" {
    type slave;
    file "db.okd.home.mawson.tech";
    allow-transfer { 10.10.56.2 };
};

zone "56.10.10.in-addr.arpa" {
    type slave;
    file "db.56.10.10.in-addr.arpa";
    allow-transfer { 10.10.56.2 };
};
