; {{ ansible_managed }}

$TTL    604800
@       IN      SOA     okd-dns-0.okd.home.mawson.tech. admin.okd.home.mawson.tech. (
                              9         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
; name server NS records
@ IN NS okd-dns-0.okd.home.mawson.tech.
@ IN NS okd-dns-1.okd.home.mawson.tech.
;
; name server A records
okd-dns-0.okd.home.mawson.tech. IN A 10.10.56.2
okd-dns-1.okd.home.mawson.tech. IN A 10.10.56.3
;
; 10.10.56.0/24 A record
okd-web-0.okd.home.mawson.tech. IN A 10.10.56.4
okd-web-1.okd.home.mawson.tech. IN A 10.10.56.5
;
okd-nfs-0.okd.home.mawson.tech. IN A 10.10.56.6
okd-nfs-1.okd.home.mawson.tech. IN A 10.10.56.7
;
okd-loadbalancer-vip.okd.home.mawson.tech. IN A 10.10.56.252
okd-loadbalancer-0.okd.home.mawson.tech. IN A 10.10.56.253
okd-loadbalancer-1.okd.home.mawson.tech. IN A 10.10.56.254
;
; okd required dns
api.okd.home.mawson.tech. IN A 10.10.56.252
api-int.okd.home.mawson.tech. IN A 10.10.56.252
;
*.apps.okd.home.mawson.tech. IN A 10.10.56.252
;
bootstrap.okd.home.mawson.tech. IN A 10.10.56.100
;
control-plane0.okd.home.mawson.tech. IN A 10.10.56.101
control-plane1.okd.home.mawson.tech. IN A 10.10.56.102
;
compute0.okd.home.mawson.tech. IN A 10.10.56.103
compute1.okd.home.mawson.tech. IN A 10.10.56.104
compute2.okd.home.mawson.tech. IN A 10.10.56.105
