// {{ ansible_managed }}

zone "okd.home.mawson.tech" {
    type primary;
    file "/etc/bind/zones/db.okd.home.mawson.tech";
    allow-transfer { 10.10.56.3 };
};

zone "56.10.10.in-addr.arpa" {
    type primary;
    file "/etc/bind/zones/db.56.10.10.in-addr.arpa";
    allow-transfer { 10.10.56.3 };
};
